:root {
  --accent-color: #99baed;
  --background-color-main: #fafbff;
  --text-color: #163561;
  --text-color-secondary: #fbb400;
  --color-white: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: "Catamaran", sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  color: var(--text-color);
}

.container {
  width: 1920px;
  margin: 0 auto;
  /* background-color: darkseagreen; */
}

.second-color {
  color: var(--text-color-secondary);
}

/*********  HAEDER  *********/
.header .container {
  display: flex;
  justify-content: space-between;
  padding-left: 170px;
  padding-right: 213px;
  align-items: center;
  padding-bottom: 49px;
}

.logo-wrapper {
  position: relative;
}

.logo-item {
  width: 74px;
  height: 74px;
}

.logo-text {
  position: absolute;
  bottom: 0px;
  height: 53px;
  width: 91px;
  left: 55px;
  margin-top: 59px;
}

.nav-list {
  display: flex;
}

.nav-list li:not(:last-child) {
  margin-right: 20px;
}

.nav-list a {
  display: block;
  color: #163561;
  font-size: 25px;
  line-height: 1.34;
  padding: 67px 14px 8px 14px;
  text-transform: capitalize;
}

.nav-list a:hover {
  background-color: #a3c1ef;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.5s ease-out;
}

.button-list {
  display: flex;
  align-items: center;
  padding-top: 46px;
  /* padding-bottom: 17px; */
}

.button-list li:not(:last-child) {
  margin-right: 72px;
}

.button-list button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-list .appointment {
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.51;
  letter-spacing: 0.03em;
  padding: 23px 32px;
  border-radius: 20px;
  border: none;
}

.button-list .appointment:hover {
  box-shadow: 0 10px 50px var(--accent-color);
  transition: all 0.5s ease-out;
}

.header-icon {
  width: 42px;
  height: 42px;
}

/*********  END HAEDER  *********/

/*********  Hairstyle and History  *********/
/* .hero .hairstyle {
  background-image: url("../images/hairstyle.jpg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
} */

/* .hairstyle-and-history {
} */

.info-list-item {
  display: flex;
  justify-content: space-between;
}

.hairstyle-and-history-title {
  font-family: Catamaran;
  font-weight: 700;
  font-size: 75px;
  line-height: 1.34;

  color: #163561;
  width: 576px;
  /* background-color: chartreuse; */
}

.hairstyle-title {
  margin-bottom: 29px;
}

.history-title {
  margin-bottom: 80px;
}

.hairstyle-and-history-text {
  font-family: Catamaran;
  font-size: 25px;
  line-height: 1.51;
  letter-spacing: 0.03em;
  color: #153461;
  opacity: 0.65;
  width: 530px;
}

.hairstyle-text {
  margin-bottom: 97px;
}

.history-text-first {
  margin-bottom: 48px;
  margin-right: 195px;
}

.history-text-second {
  margin-bottom: 108px;
  margin-right: 195px;
}

.info-list-item:first-child {
  background-image: url("../images/hairstyle.jpg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  margin-left: 188px;
  padding-bottom: 75px;
  padding-top: 100px;
}

.info-list-item:last-child {
  background: url("../images/orig/vector1.svg") left top,
    url("../images/history.jpg") 77px 151px,
    url("../images/orig/vector2.svg") right top;
  background-repeat: no-repeat;
  flex-direction: row-reverse;
  padding-top: 262px;
  padding-bottom: 175px;
  padding-left: 77px;
}

.buttons {
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.51;
  letter-spacing: 0.03em;
  padding: 23px 41px;
  border-radius: 20px;
}

.buttons:hover {
  background: rgba(153, 186, 237, 0.5);
  border-radius: 20px;
  transition: all 0.5s ease-out;
  box-shadow: 0 10px 50px var(--accent-color);
}
/*********  END Hairstyle and History  *********/

/*********  Services  *********/
.services {
  padding-top: 175px;
  padding-bottom: 233px;
  background: url("../images/orig/vector3.svg") left bottom,
    url("../images/orig/vector4.svg") right bottom;
  background-repeat: no-repeat;
}

.services-title {
  font-weight: 700;
  font-size: 70px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  width: 390px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 82px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  padding: 0 250px;
  margin-right: -49px;
}

.services-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 41px 72px 41px;
  margin-right: 49px;
  /* background-color: #fff; */

  background: #fafbff;
  box-shadow: 0px 5px 0px #99baed;
  border-radius: 29px;
}

.services-list-item:focus,
.services-list-item:hover {
  background: #99baed;
  border-radius: 29px;
  box-shadow: 0px 5px 0px #d5e5ff;
}

.services-list-item:focus .services-list-item-text,
.services-list-item:hover .services-list-item-text,
.services-list-item:focus .services-list-item-title,
.services-list-item:hover .services-list-item-title {
  color: #ffffff;
  border-radius: 29px;
}

.services-list-item:focus .services-icon,
.services-list-item:hover .services-icon {
  background-color: var(--text-color-secondary);
  fill: var(--text-color);
}

.services-icon {
  width: 103px;
  height: 126px;
  background: #e5ecfe;
  box-shadow: 0px 1px 0px #008fdd;
  border-radius: 13px;
  padding: 30px 23px;
  margin-bottom: 60px;
  fill: #008fdd;
}

.hair-cut {
  width: 65px;
  height: 58px;
}

.beard-cut {
  width: 68px;
  height: 68px;
}

.facial-pack {
  width: 66px;
  height: 66px;
}

.services-list-item-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #163561;
  margin-bottom: 60px;
}

.services-list-item-text {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.51;
  text-align: center;
  letter-spacing: 0.03em;
  color: #153461;
  opacity: 0.65;
}
/*********  END Services  *********/

/*********  Gallery  *********/
.galery {
  background: url("../images/orig/vector1.svg") left top,
    url("../images/orig/vector2.svg") right top;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 94px;
}

.galery-title {
  font-weight: 700;
  font-size: 70px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  width: 390px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 110px;
}

.galery-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 270px;
  padding-right: 270px;
  margin-top: 0;
  margin-right: -38px;
  margin-bottom: 39px;
}

.galery-list-item {
  width: calc((100% - 3 * 38px) / 3);
  margin-right: 38px;
  margin-bottom: 38px;
}

.galery-list-item img {
  width: 100%;
}

.gallery-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 23px 56px;
}
/*********  END Gallery  *********/

.footer {
  padding-top: 94px;
  padding-bottom: 94px;
  background: url("../images/orig/vector3.svg") left bottom,
    url("../images/orig/vector4.svg") right bottom;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
}

.footer-logo-text {
  position: relative;
  bottom: -7px;
  height: 53px;
  width: 91px;
  left: -27px;
  margin-top: 59px;
}

.footer-position {
  text-align: center;
  margin-bottom: 36px;
}

.footer-text {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.51;
  text-align: center;
  letter-spacing: 0.03em;
  color: #153461;
  opacity: 0.65;
  width: 526px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 47px;
}

.footer-contact-list {
  display: flex;
  justify-content: center;
  margin-bottom: 47px;
}

.footer-contact-list-item:not(:last-child) {
  margin-right: 25px;
}

.footer-contact-list-item-link {
  align-items: center;
  justify-content: center;
  display: flex;
  background: #d3e5ff;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  /* color: var(--color-white); */
}

.social-icon {
  fill: var(--color-white);
}
.footer-contact-list-item-link:hover,
.footer-contact-list-item-link:active {
  background-color: #99baed;
}

.footer-decorate {
  display: block;
}

.footer-decorate::after {
  display: block;
  margin-right: auto;
  margin-left: auto;
  content: "";
  border: 1px solid #99baed;
  width: 1000px;
  text-align: center;
}
