:root {
  --accent-color: #99baed;
  --background-color-main: #fafbff;
  --text-color: #163561;
  --text-color-secondary: #fbb400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: "Catamaran", sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  color: var(--text-color);
}

.container {
  width: 1920px;
  margin: 0 auto;
  background-color: darkseagreen;
}

.second-color {
  color: var(--text-color-secondary);
}

/*********  HAEDER  *********/
.header .container {
  display: flex;
  justify-content: space-between;
  padding-left: 170px;
  padding-right: 213px;
  align-items: center;
  padding-bottom: 49px;
}

.logo-wrapper {
  position: relative;
}

.logo-item {
  width: 74px;
  height: 74px;
}

.logo-text {
  position: absolute;
  bottom: 0px;
  height: 53px;
  width: 91px;
  left: 55px;
  margin-top: 59px;
}

.nav-list {
  display: flex;
}

.nav-list li:not(:last-child) {
  margin-right: 20px;
}

.nav-list a {
  display: block;
  color: #163561;
  font-size: 25px;
  line-height: 1.34;
  padding: 67px 14px 8px 14px;
  text-transform: capitalize;
}

.nav-list a:hover {
  background-color: #a3c1ef;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.5s ease-out;
}

.button-list {
  display: flex;
  align-items: center;
  padding-top: 46px;
  /* padding-bottom: 17px; */
}

.button-list li:not(:last-child) {
  margin-right: 72px;
}

.button-list button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-list .appointment {
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.51;
  letter-spacing: 0.03em;
  padding: 23px 32px;
  border-radius: 20px;
  border: none;
}

.button-list .appointment:hover {
  box-shadow: 0 10px 50px var(--accent-color);
  transition: all 0.5s ease-out;
}

.header-icon {
  width: 42px;
  height: 42px;
}

/*********  END HAEDER  *********/

/*********  Hairstyle and History  *********/
.hairstyle-and-history {
  padding-bottom: 136px;
}

.info-list-item {
  display: flex;
  justify-content: space-between;
}

.hairstyle-and-history-title {
  font-family: Catamaran;
  font-weight: 700;
  font-size: 75px;
  line-height: 1.34;

  color: #163561;
  width: 576px;
  /* background-color: chartreuse; */
  margin-top: 100px;
}

.hairstyle-title {
  margin-bottom: 29px;
}

.history-title {
  margin-bottom: 80px;
}

.hairstyle-and-history-text {
  font-family: Catamaran;
  font-size: 25px;
  line-height: 1.51;
  letter-spacing: 0.03em;
  color: #153461;
  opacity: 0.65;
  width: 530px;
}

.hairstyle-text {
  margin-bottom: 97px;
}

.history-text-first {
  margin-bottom: 48px;
}

.history-text-second {
  margin-bottom: 108px;
}

.info-list-item:first-child {
  margin-left: 188px;
  margin-bottom: 226px;
}

.info-list-item:last-child {
  flex-direction: row-reverse;
  margin-left: 82px;
}

.buttons {
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.51;
  letter-spacing: 0.03em;
  padding: 23px 32px;
  border-radius: 20px;
  border: none;
}

.buttons:hover {
  background: rgba(153, 186, 237, 0.5);
  /* filter: blur(50px); */
  border-radius: 20px;
  transition: all 0.5s ease-out;
}

/*********  END Hairstyle and History  *********/

/*********  Gallery  *********/

/*********  END Gallery  *********/
